.update-todo {
  padding: 2rem;
}

.title-container {
  margin-bottom: 2rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  max-width: 400px;
  align-items: center;
  padding: 2rem;
}

.update-todo form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 12px;
  background-color: #ffffff;
  border: 1px solid #d6e0eb;
}

.update-todo label:not(:first-child) {
  margin-top: 1rem;
}

.update-todo label{
  font-weight: bold;
}

.update-todo input[type="text"],
.update-todo textarea,
.update-todo select {
  margin-top: 0.3rem;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #aaa;
  border-radius: 5px;
}

.update-todo textarea {
  resize: vertical;
  min-height: 80px;
}

.update-todo button {
  margin-top: 1.5rem;
  padding: 0.75rem;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.update-todo button:hover {
  background-color: #0056b3;
}

.update-todo p {
  margin-top: 1rem;
  text-align: center;
  font-weight: bold;
}

.update-todo h2 {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #333;
}